.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-7);
  width: 100%;
}

.logo {
  height: 44px;
  width: auto;

  @media (max-width: 768px) {
    height: 36px;
    width: auto;
  }
}

.headerCopy {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-5);
  text-align: center;
  width: 100%;
}

@media (max-width: 768px) {
  button {
    width: 100%;
  }
}
  